.content {
	margin-left: 20px;
}
h1 {
	text-align: center;
	font: normal normal normal din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;

}

.links a {
	display: block;
	padding: 2px;
	text-align: center;
	font: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
}



.title {
	width: 500px;
	margin: 0 auto;
	display: block;
	margin-bottom: 2%;
	margin-top: 10px;

}

.mug {
	width: 140px;

	margin: 0 auto;
	display: block;

}

@media only screen and (max-width: 545px) {

.title {
	width: 350px;
	}
}