.content {
	margin-left: 20px;
}
h1 {
	text-align: center;
}

.links a {
	display: block;
	padding: 5px;
	text-align: center;
}

.text  {
	text-align: center;
	margin-top: 15px;
	color: white;
	font: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;;
	display: inline-block;

}
.title {
	width: 500px;
	margin: 0 auto;
	display: block;
	margin-bottom: 3%;

}

@media only screen and (max-width: 545px) {

.title {
	width: 350px;
	}
}