footer {
height: 50px;
width:100%;
background-color: rgba(56,92,159,.7);
position: fixed;
bottom: 0px;
left: 0px;
}

.text  {
	text-align: center;
	margin-top: 15px;
	color: white;
	font: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;;
	display: inline-block;

}

.articles::after {
	color: white;
	content: "Past Articles";
}

.home::after {
	color: white;
	content: "Home Page";
}

a:hover::after {
	color: #d2d7df;
}


.contact {
	margin-top: 5px;
	color: white;
	text-align: center;
}
.logo {
	width: 45px;
	margin-top: 2px;
}

@media only screen and (max-width: 560px) {
	.logo {
	width: 30px;
	margin-top: 10px;
	margin-left: -15px;
	}
	

}

